<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-header></app-header>

Title
<div class="box">
  {{firstArticle.title}}
</div>

Author
<div class="box">
  {{firstArticle.author}}
</div>

URL
<div class="box">
  <a href="firstArticle.url">{{firstArticle.url}}</a>
</div>

Body
<div class="box">
  {{firstArticle.body}}
</div>

<h2>{{radioTitle}}</h2>

<label *ngFor="let radiobutton of radioItems">
  <input type="radio" name="options" (click)="model.option = radiobutton"
  [checked]="radiobutton === model.option">{{radiobutton}}
</label>

<!-- Only show once the user has decided if the article is real or fake -->
<div *ngIf="model.option !== ''">
  <!-- Star Rating for confidence -->
  <h2>How confident are you in your decision? (Five being the most confident)</h2>
  <div class="cont">
    <div class="stars">
      <ngx-star-rating [(ngModel)]="confidence" [id]="'confidence'"></ngx-star-rating>
      <div> Rating: {{ confidence }} </div>
    </div>
  </div>

  <!-- Have the user give a little statement about why they think the article is fake -->
  <h2> 
    Why do you think this article is {{model.option}}.
  </h2>
  <input class="form-control" type="text" [(ngModel)]="feedback" placeholder="Feedback">
  <br>
  <!-- Submit the article -->
  <button (click)="submit(firstArticle)">Submit</button>
</div>