<app-header></app-header>

Title
<div class="box">
  {{firstArticle.title}}
</div>

Author
<div class="box">
  {{firstArticle.author}}
</div>

URL
<div class="box">
  <a href="firstArticle.url">{{firstArticle.url}}</a>
</div>

Body
<div class="box">
  {{firstArticle.body}}
</div>

<h2>{{radioTitle}}</h2>

<label *ngFor="let radiobutton of radioItems">
  <input type="radio" name="options" (click)="model.option = radiobutton"
  [checked]="radiobutton === model.option">{{radiobutton}}
</label>

<!-- Confidence of user -->
<mat-slider
   class = "tp-margin"
   [disabled] = "disabled"
   [invert] = "invert"      
   [thumbLabel] = "thumbLabel"     
   [(ngModel)] = "confidence"
   [vertical] = "vertical">
</mat-slider>

<!--
<div class="container row custom-wrapper col-md-12">
	<form [formGroup]="fakenessForm" (ngSubmit)="onSubmit()">
		<h5 class="mb-3">Would you say the above article is real or fake?</h5>
    

		<div class="d-block my-3 group-gap">
			<div class="custom-control custom-radio">
				<input id="real" type="radio" class="custom-control-input" value="real" name="fakeness" formControlName="fakeness">
          <label class="custom-control-label" for="real">Real</label>
        </div>
        
        <div class="custom-control custom-radio">
          <input id="Fake" type="radio" class="custom-control-input" value="Fake" name="fakeness" formControlName="fakeness">
          <label class="custom-control-label" for="fake">Fake</label>
        </div>
         <div class="invalid-feedback" *ngIf="isSubmitted && myForm.errors?.required">
            <p>Please choose whether the article is real or fake before continuing.</p>
        </div>
      </div>


        Submit button
     <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
    </form><!-- Form ends
</div>
-->